<!DOCTYPE html>
<html>
<head>
    <title>Roman To Arabic</title>
</head>
<body>
	<form method="post" action="/process">
		Enter Roman Numerals: <input type="text" name="roman_number">
		<button type="submit">Submit</button>
	</form>
</body>
</html>